:root {
	--bg:#1e1b1e;
	--fg:#e2ddce;
	--hover-col:#4CAF50;
}

* {
	box-sizing: border-box;
}

#eu-ae {
	display: flex;
	justify-content:center;
	margin: 6px;
}

.meu_nome{
	background-color:var(--bg);
	padding:15px;
	text-align:center;
}

.left {
	float: left;
	width: 20%;
	text-align: center;
}

.left a {
	background-color: var(--bg);
	padding: 8px;
	margin-top: 7px;
	display: block;
	width: 100%;
	color: #aaaaaa;
}

.main {
	float: left;
	width: 60%;
	padding: 0 20px;
}

.main h3{
	text-align: center;
}

.right {
	background-color: var(--bg);
	float: left;
	width: 20%;
	text-align: center;
}

.foot{
background-color:var(--bg);
text-align:center;
padding:10px;
margin-top:7px;
}

.mine-button1{
	color: var(--fg);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
	background-color: var(--bg); 
  color: var(--fg); 
  border: 2px solid var(--hover-col);
}

.mine-button2{
	color: var(--fg);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	padding: 3px;
	margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
	background-color: var(--bg); 
  color: var(--fg); 
  border: 2px solid var(--hover-col);
}

.mine-button1:hover {
  background-color: var(--hover-col);
  color: var(--fg);
}

.mine-button2:hover {
  background-color: var(--hover-col);
  color: var(--fg);
}

body {
	background:var(--bg);
	color:var(--fg);
}

h1 {
	text-align:center;
	font-size: 20px;
	color:var(--fg);
	text-shadow: 0px 0px 4px violet;
}

@media only screen and (max-width: 935px) {
	/*pra celular*/
	.left, .main, .right {
		width: 100%;
	}
}
